<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Firebase Authentication Tutorial</title>
  <link rel="stylesheet" href="./scss/main.scss">
  <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
</head>
<body>
  <div id="app">
    <div class="container">
      <h2 class="title">Register / Login</h2>
      <button @click="registerForm">Register</button>
      <button @click="signinForm">Sign In</button>

      <div v-if="authUser">
        <h2>Signed in as {{ authUser.email }}</h2>
        <button @click="signOut">Sign Out</button>
      </div>

      <div v-else>
        <div v-if="registerProperty">
          <h2>Create an account</h2>
          <form class="form" @submit.prevent="register">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-input" id="email" v-model="email" placeholder="Enter email" required>
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-input" id="password" v-model="password" placeholder="Enter password" required>
            <button type="submit" class="form-btn">Register</button>
          </form>
        </div>

        <div v-else="signinProperty">
          <h2>Sign in to your account</h2>
          <form class="form" @submit.prevent="signIn">
            <label for="signin-email" class="form-label">Email</label>
            <input type="email" class="form-input" id="signin-email" v-model="email" placeholder="Enter email" required>
            <label for="signin-password" class="form-label">Password</label>
            <input type="password" class="form-input" id="signin-password" v-model="password" placeholder="Enter password" required>
            <button type="submit" class="form-btn">Sign In</button>
          </form>
        </div>
      </div>
      
    </div>
  </div>
  

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./js/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js"></script>

  <script>
    new Vue({
      el: '#app',

      data() {
        return {
          email: '',
          password: '',
          authUser: null,
          registerProperty: true,
          signinProperty: false
        }
      },

      methods: {
        clearInputs() {
          this.email = ''
          this.password = ''
        },
        register() {
          firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
            .catch((error) => error.code ? alert(error.message) : null)
            this.clearInputs()
        },
        signOut() {
          firebase.auth().signOut()
            .then((user) => this.authUser = null)
        },
        signIn() {
          firebase.auth().signInWithEmailAndPassword(this.email, this.password)
            .catch((error) => error.code ? alert(error.message) : null)
            this.clearInputs()
        },
        signinForm() {
          this.registerProperty = false
          this.signinProperty = true
        },
        registerForm() {
          this.registerProperty = true
          this.signinProperty = false
        }
      },

      created() {
        firebase.auth().onAuthStateChanged((user) => this.authUser = user)
      }

    })
  </script>
</body>
</html>